{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "OLIVER.SEIDEL@DE.IBM.COM",
      "Space": "olly1"
    },
    "Name": "devops-ose-20171214",
    "Instrumentation": {
      "host": "devops-ose-20171214",
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}